<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193495535383-vm1sdurplu8m5cr4mo906fsop5j8d4n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193495535383-vm1sdurplu8m5cr4mo906fsop5j8d4n0</string>
	<key>API_KEY</key>
	<string>AIzaSyApd3Dw28OG_XyqGA64XU7OyhR7GOGCwSw</string>
	<key>GCM_SENDER_ID</key>
	<string>193495535383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestProjectCreigh</string>
	<key>PROJECT_ID</key>
	<string>testproject-e2f93</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-e2f93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193495535383:ios:99c2604e6f66b018877152</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-e2f93.firebaseio.com</string>
</dict>
</plist>